/* city-selector.css */
.city-selector__select {
    appearance: none;
    padding: 0.5rem 2rem;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.city-selector__select:focus {
    border: 2px solid var(--border-color);
}