.community-stats {
    color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 4px 8px var(--shadow);
    transition: box-shadow 0.3s ease;
    background-color: var(--bg-tertiary);
    border: 2px solid var(--border-color);
}

.community-stats-number {
    font-size: 2.0rem;
    font-weight: bold;
    margin: 0;
}

.community-stats-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}