.Container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}

.stats-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}